.footer {
    background-color: #181818;
    
    color: white;
    text-align: center;
    padding: 1rem 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}
/* 
.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    height: max-content;
    margin-bottom: 25px; */
    /* margin-top: 25px; */
/* } */