.header {
  display: flex;
  justify-content: space-between;
  display: fixed;
  align-items: center;
  background-color: #1b1b1b;
  padding: 10px 30px;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /* border-radius: 30px; */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;

}

.navbar {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s;
}

.menu li a:hover {
  color: #00bcd4;
}

.active {
  border: none;
  color: white;
  font-weight: bold;
  text-shadow: #1b1b1b;
}

.linkText {
  text-decoration: none;
}