.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  color: #333;
}

h1 {
  margin-bottom: 20px;
  color: white; /* Asumo que el fondo es oscuro */
}

/* Estilo para los elementos de la navegación */
nav {
  /* margin-bottom: 20px; */
  /* Usamos flex y gap para separar los li */
  display: flex; 
  gap: 15px;
}

/* Estilo para el texto de Link */
.linkText {
  text-decoration: none;
  color: white;
  font-weight: bold;
  list-style: none;
}

/* Estilos de los LI/Botones dentro del NAV */
.Login, .Register {
  padding: 10px 15px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.Login:hover, .Register:hover {
  opacity: 0.8;
}

/* Estilo para el separador visual */
.separator {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-top: -10px; /* /* Ajusta la posición de la línea */
}

/* Clase para el botón activo (la que usamos en Administracion.jsx) */
.active {
  border-bottom: 2px solid #4a90e2; /* Una línea azul debajo */
  color: #4a90e2; /* Color del texto cuando está activo */
}