.card {
    background-color: #313131;
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 2, 0.9);
    max-width: 300px;
    margin: 10px;
    display: inline-block;
    margin: 15px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;;
    object-fit: cover;
    border-radius: 3%;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 10px;
}

.description {
    font-size: 1rem;
    color: #555;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #003f7f;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}