h2 {
    padding-top: 15px;
    font-size: 2.0rem;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-bottom: 27px; 
}

footer {
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  padding: 10px 0;
}
